* {
    margin: 0;
    padding: 0;
    border: 1px solid;
}

html,
body,
#root,
#root > div {
    height: 100%;
}

.link {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.desktop-nav-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
}

nav,
.body-container,
.signup-container {
    margin: 1% 2%;
}

.body-container {
    display: flex;
    justify-content: space-evenly;
}

.signup-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 700px;
    margin: 20px auto;
    text-align: center; /* Center the content inside the div horizontally */
}

.idp-options-container {
    margin: 0 auto; /* Center the div horizontally by setting left and right margins to auto */
}

.idp-container {
    margin: 20px auto;
}
