* {
    margin: 0;
    padding: 0;
    border: 1px solid;
}

html,
body,
#root,
#root > div {
    height: 100%;
}

.link {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.desktop-nav-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
}

nav,
.body-container {
    margin: 1% 2%;
}

/* form {
    display: flex;
    align-items: center;
    flex-direction: column;
} */

label {
    font-weight: bold;
    display: flex;
}

input[type="email"],
input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    border-radius: 10px;
    background-color: #4a5568;
    border: 2px solid #4a5568;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 1em auto 2em;
    display: block;
}

.body-container {
    display: flex;
    justify-content: space-evenly;
}

.signup-container,
.signup-personal-data {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: 20px auto;
}

.sub-title {
    text-align: center;
}

.idp-options-container {
    margin: 0 auto; /* Center the div horizontally by setting left and right margins to auto */
}

.idp-container {
    margin: 20px auto;
}
